.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  align-self: start;
  justify-self: start;
  width: 100px;
  height: auto;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: end;
  padding: 10px;
}

.main-nav a {
  margin-left: 20px;
}

.main-nav a:hover,
.auth-links a:hover {
  color: #123013;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: end;
}

.auth-links a {
  margin-top: 5px;
  text-decoration: none;
}

body {
  background-color: rgb(123, 162, 128);
}

.hero {
  display: flex;
  flex-direction: row;
}

.hero_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.hero_right_t_img {
  display: grid;
  grid-area: auto;

}

.hero img {
  width: 25%;
  height: auto;
}

#copy {
  color: blue;
}

/* Sign up form */

.signup-form {
  display: flex;
  flex-direction: column;
  background-color: #a0e1ac;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
}
