.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header img {
    width: 100px;
    height: auto;
}

.header .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.header .links a{
    margin-left: 20px;
}

body {
    background-color: rgb(123, 162, 128)
}

.hero {
    display: flex;
    flex-direction: row;
}

.hero img {
    width: 25%;
    height: auto;
}

#copy {
    color: blue;
}