.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    align-self: start;
    justify-self: start;
    width: 100px;
    height: auto;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: end;
    padding: 10px;
}

.main-nav a {
    margin-left: 20px;
}

.auth-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: end;
}

.header .links a{
    margin-left: 20px;
}

body {
    background-color: rgb(123, 162, 128)
}

.hero {
    display: flex;
    flex-direction: row;
}

.hero img {
    width: 25%;
    height: auto;
}

#copy {
    color: blue;
}