{% extends "base.html" %} {% block title %}Tasty Truths — About Us{% endblock %} {%
block content %}

<main>
  <p>
    Tasty Truths is all about helping you find that perfect recipe hassle free.
    Our team consists of a group of hard working students from Drexel
    University, who were tired of trying to find recipes that were blocked
    behind paywalls or hundreds of different ads and wanted to make a change.
  </p>
  <br />
  <p>
    We designed Tasty Truths for a easy and interactive experience for our
    users. From easy to navigate menus to the ability to rate and leave a
    review, Tasty Truths has it all. On Tasty Truths, Users have the ability to
    express their creative side with recipes they have created or changed.
    People can than interact with these recipes to give feedback and suggestions
    or just give complements to the chef for their amazing creations.
  </p>
  <br />
  <p>
    If users are looking for more of a social involvement, Tasty Truths can help
    also. Our blog pages allows users to share their experiences in the kitchen
    for other users to see. You can ask for recommendations or for help if you
    are stuck and don't know why something turned out the way it did. Tasty
    Truths also has a contact page which can help you reach out to different
    chefs about questions or partnering up on a recipe.
  </p>
</main>

<script src="path/to/script.js"></script>

{% endblock %}
