{% extends "base.html" %}
{% block title %}Tasty Truths — Login{% endblock %}

{% block content %}

    <div class="login-form">
      <form action="{{ url_for('login') }}" method="post">
        <h2>Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <label for="username">Username:</label><br />
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username123"
          required
        /><br /><br />

        <label for="password">Password:</label><br />
        <input
          type="password"
          id="password"
          name="password"
          required
        /><br /><br />

        <button type="submit">Login</button>
        <button type="button" onclick=window.location.href="{{ url_for('index') }}">
          Cancel
        </button>

        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
      </form>
    </div>

{% endblock %}
